* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px
}

.controlButtons {
  position: absolute;
  left: 47%;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}